.search-breed-result {
   display: flex;
   flex-direction: column;
   padding: 1.5rem;
}

.result {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 1rem;
   cursor: pointer;
}

.result-img {
   display: block;
   margin: 0 auto;
   border-radius: 7%;
   margin-bottom: 5px;
   width: 70vw;
   height: 70vw;
   object-fit: cover;
}

.result-name {
   font-size: 1.7rem;
   text-align: center;
   margin-bottom: 20px;
}

/*  Media screen  */
@media (min-width: 380px) {
   .search-breed-result {
      padding: 2rem;
   }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .results-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }

   .result-element {
      width: 33%;
   }

   .result-img {
      width: 18vw;
      height: 18vw;
   }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
