.search {
   display: flex;
   flex-direction: column;
   padding: 1.5rem;
}

.search-form {
   display: flex;
   flex-direction: column;
}

.cat-qualities {
   margin-bottom: 40px;
}

.cat-quality-input {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}

/*  Media screen  */
@media (min-width: 380px) {
   .search {
      padding: 2rem;
   }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .search-form {
   }
   .cat-qualities {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /* width: 50%; */
      justify-content: space-between;
      /* max-height: 50%; */
   }

   .cat-quality {
      width: 45%;
   }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
