.breed-page {
   display: flex;
   flex-direction: column;
   padding: 1.5rem;
}

.slider {
   display: flex;
   justify-content: center;
   align-items: center;
}

.slider-back {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--light-color);
   border-radius: 7%;
   border: 1px solid var(--dark-color);
   box-shadow: 1px 5px 5px rgb(0, 0, 0, 0.7);
   width: 72vw;
   height: 70vw;
   margin-bottom: 20px;
}
.breed-img {
   display: block;
   border-radius: 7%;
   box-shadow: none;
   max-width: 72vw;
   max-height: 70vw;
   object-fit: cover;
}

.general {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 10px;
}

.description {
   text-align: justify;
   line-height: 1.3;
}

.breed-characteristic,
.points-block {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.characteristics-list {
   padding: 0 1.5rem;
   margin-bottom: 20px;
}

.point {
   border-radius: 100%;
   border: 1px solid var(--dark-color);
   background-color: var(--orange);
   opacity: 25%;
   width: 0.7rem;
   height: 0.7rem;
   margin-left: 0.3rem;
}

.active-point {
   opacity: 100%;
}

.sorce-links {
   margin-bottom: 20px;
}

/*  Media screen  */
@media (min-width: 380px) {
   .breed-page {
      padding: 2rem;
   }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
